*{
    margin: 0%;
    padding: 0%;
    /* background-color: #151922;
   */
    
}

.container {
    display: grid;
    grid-template:

      "sideNav header header " 70px
      "sideNav feed  feed " 430px
      "footer footer footer " 69px/
        180px   1vh  ;
   }

   .sideNav {
    grid-area: sideNav ;
    border: 1px solid black;
    background-color: aqua;
   }

   .header {
    grid-area: header;
    border: 1px solid black;
    background-color: #080b12;
   }

   .feed {
    grid-area: feed ;
    /* border: 1px solid black; */
    background-color: #151922;
    overflow-y: auto;
   }

   .footer {
    display: grid;
    grid-area: footer ;
    border: 1px solid black;

    background-color: #282828;
   }


   .recentlyPlayed {
    height: 250px;
    background-color: #151922;
   }
   .recentlyPlayed h4{
    color: white;
    margin-left: 20px;
   }

   .personalMixs { 
    border: 1px dotted black;
    height: 600px;
    background-color: orange;
   }

   .recomended {
    border: 1px dotted black;
    height: 600px;
    background-color: blue;
   }

   .upgrade {
    color: white;
    float: right;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 50px;
    margin-top: 10px;
   }
   .upgrade:hover {
    border-color: green;
   }

   .recentlyPlayedImages{
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-left: 20px;
   }

   .insideRecentlyPlayed{
    display: grid;
    grid-template-columns: repeat(6, 170px);
    height: 100px;
    gap: 5px;
   }

   .insideRecentlyPlayed img {
      width:100%;
      height:80%;
   }

   .feedNav {
    display: grid;
    grid-template-columns: repeat(6, 60px);

    color: #40454b;
    background-color: #151922;
    justify-content: center;

    padding-bottom: 15px;

   }

   .feedNav p{
    text-align: center;
   }

   .feedNav p:hover {
    border-bottom: 2px solid green;
    cursor: pointer;
   }

   .recentlyPlayedTitle {
    color: white;
    text-align: center;
   }

   .insideForYou {
    display: grid;
    grid-template-columns: repeat(2, 170px);
    height: 100px;
    gap: 5px;
   }

   .insideForYou img {
    width:100%;
    height:80%;
   }

   .insideForYouImages {
    margin-top: 20px;
    margin-left: 20px;
   }

   .playerSection{
    display: grid;
    /* border: 1px solid black; */
    /* grid-template-columns: repeat(2, auto); */
    grid-template-columns: 180px 1fr 180px ;
   }

   .currentlyPlaying {
    /* border: 1px dotted black; */

    display: grid;
    grid-template-columns: repeat(3, 60px);
    /* height: 62px; */
   }

   /* Rename this div */

   .testDiv {
    /* border: 1px dotted black; */
    /* text-align: center; */
    padding: 5px;
    margin-top: auto2px;
   }
   .testDiv p {
    padding-top: 5px;
   
   }

   .testDiv img {
      width:90%;
      height:80%;
   }

   .testDiv i {
    padding-top: 15px;
    color: #606060;
   }

   .testDiv i:hover {
    color: green;
    cursor: pointer;
   }

   .testDiv i + i {
    padding-left: 10px
   }

   /* rename this div */

   .player{
    display: grid;
    border: 1px dotted white;
    grid-template-rows: 2 auto;
    margin: 10px;
   }

   .playIcons {
    border: 1px solid white;
    text-align: center;
   }

   .playIcons i {
    color: #ffffff;
   }

   .playIcons  i +i {
    padding-left: 20px
   }


   .playerBar {
    display: flex;
    gap: 30px;
    justify-content: center;
   } 

   .timeStamp {
    padding-top: 5px;
    
    font-size: x-small;
    color: #ffffff;
   }
   .playerbarProgress {
    width: 300px;
   }

   input[type="range"] {
    overflow: hidden;
    height: 5px;
    width:300px;
    accent-color: #c1c1c1;
    
  }

   .volume {
    border: 1px dotted white;
    margin: 20px;
   }

