*{
    margin: 0%;
    padding: 0%;
    
}

.container {
    display: grid;
    grid-template:

      "sideNav header header " 70px
      "sideNav feed  feed " 430px
      "footer footer footer " 69px/
        180px   1vh  ;
   }

   .sideNav {
    grid-area: sideNav ;
    background-color: #000000;
    padding: 15px;
    color: white;
   }

   .header {
    grid-area: header;
    border: 1px solid black;
    background-color: #080b12;
   }

   .feed {
    grid-area: feed ;
    /* border: 1px solid black; */
    background-color: #151922;
    overflow-y: auto;
   }

   .footer {
    display: grid;
    grid-area: footer ;
    /* border: 1px solid black; */

    background-color: #282828;
   }


   .recentlyPlayed {
    height: 250px;
    background-color: #151922;
   }
   .recentlyPlayed h4{
    color: white;
    margin-left: 20px;
   }

   .personalMixs { 
    border: 1px dotted black;
    height: 600px;
    background-color: orange;
   }

   .recomended {
    border: 1px dotted black;
    height: 600px;
    background-color: blue;
   }

   .upgrade {
    color: white;
    float: right;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 50px;
    margin-top: 10px;
   }
   .upgrade:hover {
    border-color: green;
   }

   .recentlyPlayedImages{
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-left: 20px;
   }

   .insideRecentlyPlayed{
    display: grid;
    grid-template-columns: repeat(6, 170px);
    height: 100px;
    gap: 5px;
   }

   .insideRecentlyPlayed img {
      width:100%;
      height:80%;
   }

   .insideRecentlyPlayed img:hover {
    cursor: pointer;
   }

   .feedNav {
    display: grid;
    grid-template-columns: repeat(6, 60px);

    color: #40454b;
    background-color: #151922;
    justify-content: center;

    padding-bottom: 15px;

   }

   .feedNav p{
    text-align: center;
   }

   .feedNav p:hover {
    border-bottom: 2px solid green;
    cursor: pointer;
   }

   .recentlyPlayedTitle {
    color: white;
    text-align: center;
   }

   .insideForYou {
    display: grid;
    grid-template-columns: repeat(2, 170px);
    height: 100px;
    gap: 5px;
   }

   .insideForYou img {
    width:100%;
    height:80%;
   }

   .insideForYou img:hover{
    cursor: pointer;
   }

   .insideForYouImages {
    margin-top: 20px;
    margin-left: 20px;
   }


  /* footer player    */
   .playerSection{
    display: grid;
    /* border: 1px solid black; */
    /* grid-template-columns: repeat(2, auto); */
    grid-template-columns: 180px 1fr 200px ;
   }

   .currentlyPlaying {
    /* border: 1px dotted black; */
    
    display: grid;
    grid-template-columns: repeat(3, 60px);
    /* height: 62px; */
   }

   /* Rename this div */

   .testDiv {
    /* border: 1px dotted black; */
    /* text-align: center; */
    padding: 5px;
    margin-top: auto2px;
    
   }

   .testDiv p {
    padding-top: 5px;
   
   }

   .testDiv p:hover {
    text-decoration: underline;
    cursor: pointer;
   
   }   

   .testDiv img {
      padding-top: 5px;
      width:90%;
      height:80%;
      cursor: pointer;
   }

   .testDiv i {
    padding-top: 15px;
    color: #606060;
   }

   .testDiv i:hover {
    color: green;
    cursor: pointer;
   }

   .testDiv i + i {
    padding-left: 10px
   }

   /* rename this div */

   .player{
    display: grid;
    grid-template-rows: 2 auto;
    margin: 10px;
   }

   .playIcons {
    text-align: center;
   }

   .playIcons i {
    color: #ffffff;
   }

   .playIcons i:hover {
    color: green;
    cursor: pointer;
   }

   .playIcons  i +i {
    padding-left: 20px
   }


   .playerBar {
    display: flex;
    gap: 30px;
    justify-content: center;
   } 

   .timeStamp {
    padding-top: 5px;
    
    font-size: x-small;
    color: #ffffff;
   }
   .playerbarProgress {
    width: 300px;
   }

   input[type="range"] {
    overflow: hidden;
    height: 5px;
    width:300px;
    accent-color: #c1c1c1;
    
  }

  /* volume section of css starts here */

   .volume {
    width: 170px;
    padding-top: 20px;
    
    display: flex;
   }

   .volume input[type="range"] {
    accent-color: #c1c1c1;
    width:70px;
    height: 5px;
    margin-bottom: 5px;
   }



   .volumeIcons {
    padding-right: 10px;
    color: white;
   }

   .volumeIcons i +i {
    font-size: x-small;
    padding-left: 10px
   }

   .volumeIcons i:hover {
    color: green;
    cursor: pointer;
   }

   /* footer section of css ends here */


   /* NavBar section of CSS starts here */

   .navContainer {
    display: grid;
    grid-template-rows: 50px 100px 280px 50px ;
   }

   .logo {
    max-width: 180px;
    
   }

   .logo img {
    width:100%;
    height:100%;
   }

   .logo img:hover {
    cursor: pointer;
   }

   .navigation {
    margin-top: 5px;
    padding: 5px;
   }

   .navIcons {
    display: flex;
    padding: 5px;
   }

   .navIcons p:hover{
    color: green;
    cursor: pointer;
   }

   .navIcons p {
    padding-left: 10px;
   }

   .playlists {
    padding: 5px;
    color: #676767;
   }

   .namePlaylist p {
    font-size: small;
    padding-left: 7px;
    padding-top: 5px;
   }

   .namePlaylist p:hover {
    color: green;
    cursor: pointer;
   }

   .createPlaylist {
    padding-top: 15px;
    padding: 5px;
    font-size: medium;
    display: flex;
   }

   .createPlaylist:hover  {
    color: green;
    cursor: pointer;
   }

   .profile {
    padding: 5px;
    font-size: x-small;
    color: #676767;
   }

   .profile i {
    padding-right: 5px;
   }

   .profile p:hover  {
    color: green;
    cursor: pointer;
   }

   .installApp {
    display: flex;
    padding-bottom: 5px;
   }

   .userProfile {
    display: flex;
    padding-top: 10px;
   }


   /* NavBar section of CSS Ends here */
